.contactList {
  padding: 0;
  max-width: 75%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: #111;
}
.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: aliceblue;
}
.contactItem span {
  max-width: 45%;
  text-align: left;
}
.contactItem button {
  padding: 5px 10px;
  min-width: 10%;
  border: 1px solid #227044;
}
.contactItem button:hover {
  background-color: #227044;
  color: #fff;
  border-color: #227044;
  transition: all 250ms linear;
}
